* {
     /* text-align: center; */
     text-transform: lowercase;
     background-color: black;
     color: white;
}

body {
     margin: 0;
     padding: 0;
     height: 1000px;
     /* overflow-y: scroll; */
}

.footer {
     position: fixed;
     bottom: 0;
}

h2 {
     font-family: 'Futura';
}

h3 {
     font-size: 18px;
     margin-bottom: 0;
     margin-top: 5px;
}

h4 {
     font-size: 16px;
     color: gray;
     margin: 0;
     padding-bottom: 2px;
}

input[type=submit] {
     font-family: 'Futura';
     font-size: 16px;
     border: none;
     background-color: white;
     color: black;
     padding: 2px 7px;
     margin-top: 10px;
}

.header h1 {
     font-family: 'Futura';
     text-align: center;
     color: white;
     margin-bottom: 0;
}

.header-break {
     font-family: "Redacted Script";
     font-size: 20px;
     text-align: center;
     color: white;
     margin: 0;
}

.search-container {
     display: flex;
     justify-content: center;
}

.search {
     font-family: 'Coming Soon';
     font-size: 20px;
     text-align: center;
     width: 80%;
     border: 1px solid rgb(204,204,255);
     margin-top: 10px;
}

.place-list-header {
     text-align: center;
     border: 1px solid white;
     width: 90%;
     margin: 20px auto;
     margin-bottom: 0;
     padding: 5px 0;
}

.place-list-container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     height: 550px;
     overflow-y: scroll;
     border: 1px solid white;
     width: 90%;
     margin: 0 auto;
}

.place-list {
     font-family: 'Coming Soon';
     display: flex;
     flex-flow: column;
     justify-content: center;
     width: 100%;
}

.place-link {
     text-decoration: none;
     color: white;
}

.place-card {
     color: white;
     border-bottom: 1px solid gray;
     border-top: none;
     /* box-shadow: 3px 3px 1px pink; */
     padding-bottom: 7px;
}

.add-link-container {
     display: flex;
     justify-content: flex-end;
}

.add-link {
     font-family: 'Futura';
     text-decoration: none;
     font-weight: bold;
     font-size: 25px;
     border: 3px solid rgb(204,204,255);
     border-radius: 50%;
     padding: 2px 10px;
     color: rgb(204,204,255);
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 10px;
}

/* //////////////////////////////
// place page
////////////////////////////// */

.back-link-container {
     display: flex;
     justify-content: space-between;
     margin: 20px 20px;
}

.back-link {
     text-decoration: none;
}

.place-details-container {
     padding-left: 30px;
     padding-right: 30px;
}

.place-detail-table {
     text-align: left;
     font-family: 'Coming Soon';
}

.place-title {
     font-family: 'Futura';
     font-size: 18px;
     vertical-align: top;
     width: 50%;
}

/* ///// edit form ///// */

.edit-form-container {
     text-align: center;
     margin-top: 20px;
     font-family: 'Futura';
}

.edit-form {
     font-family: 'Futura';
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 10px;
     gap: 5px;
}
