* {
     text-align: center;
     text-transform: lowercase;
     background-color: black;
     color: white;
}

h2 {
     font-family: 'Futura';
}

h3 {
     font-size: 18px;
     margin-bottom: 0;
     margin-top: 5px;
}

h4 {
     font-size: 16px;
     color: gray;
     margin: 0;
     padding-bottom: 2px;
}


.header h1 {
     font-family: 'Futura';
     color: white;
     margin-bottom: 0;
}

.header-break {
     font-family: "Redacted Script";
     font-size: 20px;
     color: white;
     margin: 0;
}

.search {
     font-family: 'Coming Soon';
     font-size: 20px;
     margin-top: 10px;
     width: 80%;
     border: 1px solid rgb(204,204,255);
}

input[type=text].search {

}

.place-list-header {
     border: 1px solid white;
     width: 90%;
     margin: 20px auto;
     margin-bottom: 0;
     padding: 5px 0;
}

.place-list-container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     height: 550px;
     overflow-y: scroll;
     border: 1px solid white;
     width: 90%;
     margin: 0 auto;
}

.place-list {
     font-family: 'Coming Soon';
     display: flex;
     flex-flow: column;
     justify-content: center;
     width: 100%;
}

.place-link {
     text-decoration: none;
     color: white;
}

.place-card {
     color: white;
     border-bottom: 1px solid gray;
     border-top: none;
     /* box-shadow: 3px 3px 1px pink; */
     padding-bottom: 7px;
}

.add-link-container {
     display: flex;
     justify-content: flex-end;
}

.add-link {
     font-family: 'Futura';
     text-decoration: none;
     font-weight: bold;
     font-size: 25px;
     border: 3px solid rgb(204,204,255);
     border-radius: 50%;
     padding: 2px 10px;
     color: rgb(204,204,255);
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 10px;
}
